.main {
    display: flex;
    justify-content: center;
    margin: 5%;

}

.pic {
    width: 10rem;
    height: 10rem;

}

body {
    background-color: #ff614b;
}

.jone {
    display: flex;
    justify-content: center;



    text-align: center;
}

.jcontain {
    text-align: center;
}


.container h1 {
    text-align: center;
}

.result {
    font-size: xx-large;
    display: flex;
}

.container {

    justify-items: center;
    justify-content: center;
}


.opc {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
    justify-self: center;

}


.op {
    display: flex;
    justify-items: center;
    flex-direction: row;
    position: inherit;
    margin: 5%;
    width: max-content;
    position: relative;
    text-align: center;

}

.op select {
    border-radius: 10%;
    height: 30px;
    margin-right: 2%;

}

.container select {
    width: 200px;
}

.container select:hover {
    cursor: pointer;
}

.btn {
    display: flex;
    margin: 2%;

    justify-content: center;
    justify-items: center;
}